<nav xmlns:th="http://www.thymeleaf.org" class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav d-flex align-items-center me-0 mb-2 mb-lg-0">
            <img src="/images/EcoRadarLogoSemNome.png" alt="EcoRadar" width="200" height="100" class="me-2">
            <a class="navbar-brand ps-0" href="/home">EcoRadar</a>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link fs-5" href="/favorites">Favoritos</a></li>
                <li><a class="nav-link fs-5" href="/map">Mapa</a></li>
                <li class="nav-item dropdown"
                    th:if="${session.loggedUser != null and session.loggedUser.type.name() == 'ADMIN'}">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Eventos
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/registerEvent}">
                                Criar Evento
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Editar Evento
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Remover Evento
                            </a>
                        </li>
                    </ul>
                </li>
                <li th:if="${session.loggedUser != null and session.loggedUser.type.name() == 'ADMIN'}">

                    <a class="dropdown-item"
                       th:href="@{/users}">

                        Gerenciar Usuários
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar mb-2 mb-lg-0 me-5">
        <ul class="list-unstyled navbar-nav me-auto mb-1 mb-lg-0">

            <li class="nav-item" th:if="${session.loggedUser == null}">
                <a class="btn btn-outline-success d-flex align-items-center perfil-btn" th:href="@{/login}">
                    <i class="bi bi-person-circle me-3 perfil-icon"></i>
                    Fazer Login
                </a>
            </li>

            <li class="nav-item" th:if="${session.loggedUser != null}">
                <a class="btn btn-outline-success d-flex align-items-center perfil-btn" th:href="@{/perfil}">
                    <i class="bi bi-person-circle me-3 perfil-icon"></i>
                    Meu Perfil
                </a>
            </li>

        </ul>
    </div>
</nav>
